{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],
  "plugins": [
    "source-map-support",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}